/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ---------------------------------------------------- */
body {
    height: 100dvh;
    width: 100%;
    background-color: #0A0A0A;
}

nav {

    height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.logo img {
    width: 20px;
    height: 20px;

}


.logo span {
    padding-left: 10px;
    color: #EDE4DF;
    text-align: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_nav {
    width: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;

}

.main_links {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 50%;
}

.main_links a {
    text-decoration: none;
    color: white;
}

.main_heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #EDE4DF;
    font-size: 4em;
    padding: 40px 0;
    text-transform: uppercase;
}

.main {
    display: flex;
    justify-content: center;

}

.main_img {
    display: flex;
    justify-content: center;
    border-radius: 0 200px 200px 0;
    background-image: url("bg.webp");
}

.main_img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.info_page {
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
    margin-bottom: 40px;
}

.info_page p {
    color: white;
    max-width: 30%;
    letter-spacing: 1px;
    text-align: center;
}

.info_page .button_touch {

    text-decoration: none;
    color: #ede4df;
    border: 5px solid #D87001;
    text-align: center;
    padding: 10px 10px;
    border-radius: 0 50px 50px 0;
    background-color: #D87001;
}

@media (max-width:760px) {
    .main_nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .main_links {
        flex-direction: column;
        align-items: center;
        /* padding: 20px 0; */
    }

    .navbar {
        margin: 80px 0;
    }

    .main_links a:nth-of-type(2) {
        padding-top: 20px;

    }

    .main_links a:nth-of-type(3) {
        padding-top: 20px;

    }

    .main_links a:nth-of-type(4) {
        padding-top: 20px;

    }

    .main_heading {
        font-size: 3.5em;
    }

    .main_img img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

}

@media (max-width:535px) {
    .navbar {
        margin-bottom: 120px;
    }

    .main_links a:nth-of-type(2) {
        padding-top: 30px;

    }

    .main_links a:nth-of-type(3) {
        padding-top: 30px;

    }

    .main_links a:nth-of-type(4) {
        padding-top: 30px;

    }

    .main_heading {
        font-size: 2.2em;
    }

    .main_img img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

}